<!-- d-none d-xl-block -->

<div class="container-xl">


  <div class="recommendation__section">

    <div class="rec__main__cat">
      <div class="rec_cat"> <span>Ноутбуки</span></div>
      @if (catPhone) {
        <img class="rec__main__img" src="{{catPhone.img_url}}" alt="">
      }

      <a class="rec__button" [routerLink]="['/products', recCategory]">Смотреть</a>
    </div>




    <div class="">
      <ul class="rec__phone__items">
        <ng-container *ngFor="let laptop of laptopRec | slice:0:4">
            <li class="item">
              <div class="title"><span>{{laptop.title}}</span></div>
              <div class="price"><span>от {{laptop.price | productsPriceFormatPipe}} ₽</span></div>
              <div class="item__img">
                <img class="item-img" src="{{laptop.img_url}}" alt="">
              </div>
            </li>
        </ng-container>
      </ul>

      <ul class="rec__phone__items">
        <ng-container *ngFor="let laptop of laptopRec | slice:5:9">
            <li class="item w-100">
              <div class="title">{{laptop.title}}</div>
              <div class="price"><span>от {{laptop.price | productsPriceFormatPipe}} ₽</span></div>
              <div class="item__img">
                <img class="item-img" src="{{laptop.img_url}}" alt="">
              </div>
            </li>
        </ng-container>
      </ul>

        </div>



  </div>


  </div>


  <div class="container">

    <h1 class="mobile__title">Ноутбуки</h1>

    <ul class="rec__mobile__phone">
      <ng-container *ngFor="let laptop of laptopRec">
          <li class="mobile__item">
            <div class="mobile__img">
              <img  src="{{laptop.img_url}}" alt="recImg">
            </div>

            <div class="mobile__text">
              <p class="mobile__name">{{laptop.title}}</p>
              <p class="mobile__price">{{laptop.price | productsPriceFormatPipe}} ₽</p>
            </div>

          </li>
      </ng-container>
    </ul>
<!--
    <ul class="rec__mobile__phone">
      <ng-container *ngFor="let laptop of laptopRec | slice:7:13">
          <li class="mobile__item">
            <div class="mobile__img">
              <img  src="{{laptop.img_url}}" alt="recImg">
            </div>

            <div class="mobile__text">
              <p class="mobile__name">{{laptop.title}}</p>
              <p class="mobile__price">{{laptop.price | productsPriceFormatPipe}} ₽</p>
            </div>

          </li>
      </ng-container>
    </ul> -->
</div>



