<div class="container d-none d-xl-block">
  <div class="row">

    <div class="rec__main__cat col-xl-4">
      <div class="rec_cat"> <span>Ноутбуки</span></div>
      @if (catPhone) {
        <img class="rec__main__img" src="{{catPhone.img_url}}" alt="">
      }

      <a class="rec__button" [routerLink]="['/products', recCategory]">Смотреть</a>
    </div>

    <div class="col-xl-8 ps-0">
    <ul class="rec__phone__items">
      <ng-container *ngFor="let laptop of laptopRec | slice:0:4">
        <li class="item">
          <div class="title"><span>{{laptop.title}}</span></div>
          <div class="price"><span>от {{laptop.price}}</span></div>
          <div class="item__img">
            <img class="item-img" src="{{laptop.img_url}}" alt="">
          </div>
        </li>
      </ng-container>
    </ul>

    <ul class="rec__phone__items">
      <ng-container *ngFor="let laptop of laptopRec | slice:5:7">
        <li class="item">
          <div class="title">{{laptop.title}}</div>
          <div class="price"><span>от {{laptop.price}}</span></div>
          <div class="item__img">
            <img class="item-img" src="{{laptop.img_url}}" alt="">
          </div>
        </li>
      </ng-container>
    </ul>

      </div>
    </div>


  </div>


