@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



.container-fluid {
  border-bottom: 3px solid #f7f7f7;
  padding: 0;

}




@media (max-width: 1200px)  {
  .container-fluid {
    border-bottom: none;
    padding: 0;
  }

}






