
* {
  font-family: 'Jost', sans-serif;
  font-weight: 400;


}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 4px;
  /* border: 1px solid green; */
}

.collections__items {
  background-color: white;
  color: #333333;
  border: none;
  font-size: 16px;
}

.collections__items:hover {
  color: #76BC21;
}


.collections__item {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
  color: #333333;

}

.collections__item:hover {
  color: #76BC21;
}

.dropdown-item {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: #fff;
}

.dropdown-item:hover {
  color: #76BC21;
  background-color: none;
}


