
* {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}


.container {
  /* display: flex;
  justify-content: center; */
  width: 1180px;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.categories-list li {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.categories-list .dropdown {
  margin-left: auto;
}

.dropdown-toggle {
  cursor: pointer;
  border: none;
}

.dropdown-toggle:hover {
  color: var(--main-color);
}

.collections__items__dropdown {
  position: absolute;
  background-color: #fff;
  padding: 0;
  margin-left: -27px;
  font: 500 14px / 1.6 "Inter", sans-serif;

}


.collections__items,
.dropdown-item {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #1c1c1c;
  border: none;
  text-decoration: none;
  font: 500 14px / 1.6 "Inter", sans-serif;
  white-space: nowrap;

}





.collections__items:hover {
  color: var(--main-color);
}

.collections__item:hover {
  color: var(--main-color);

}



.dropdown-item:hover {
  color: var(--main-color);
  background-color: white;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .categories-list li {
    margin-right: 14px;

  }


  .collections__items__dropdown {
    margin-left: -32px;

  }

}
