
<div class="container">
  <div class="row gx-lg-3 gx-xl-3 gx-xxl-3">
    <div class="col-12 col-lg-12 col-xl-9 col-xxl-9">
      <div class="tabs__body">
        <div class="tabs__head">
          <div class="row g-0">
            <div class="col-4 col-xl-2 col-xxl-2">
            <div
              class="description__button"
              (click)="productShowDescription()"
              [ngClass]="{'active': isDescriptionActive}"
            >
              <span class="description">Описание</span>
            </div>

            </div>
            <div class="col-5  col-xl-3 col-xxl-3">
              <div
                class="characteristics__button"
                (click)="productShowCharacteristics()"
                [ngClass]="{'active': isCharacteristicsActive}"
              >
                <span class="characteristics">Характеристики</span>

              </div>
            </div>
            <div class="col-3 col-xl-2 col-xxl-2">
              <div
                class="feedback__button"
                (click)="productShowFeedback()"
                [ngClass]="{'active': isDFeedbackActive}"
              >
                <span class="feedback">Отзывы</span>
              </div>
            </div>
          </div>
        </div>

        <div class="tabs__item">
          @if (showDescription && product) {
            <p class="prod__desc">{{product.description}}</p>
          }

          @if (showCharacteristics) {
          <div class="col-12">
            <div class="prod__char__table">
              @for (characteristic of product.characteristics; track $index) {
              <div class="row g-0">
                <div class="col-6 col-xl-5 col-xxl-4">
                  <p class="product__characteristics__name">{{ characteristic.name }}</p>
                </div>
                <div class="col-6 col-xl-7 col-xxl-8">
                  <p class="product__characteristics__value">{{ characteristic.value }}</p>

                </div>
              </div>
              }
            </div>
          </div>
          }

          @if (showFeedback) {
            <p class="feedback__items">Отзывов еще никто не оставлял</p>
          }
        </div>
      </div>
    </div>
    <!-- col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 -->
    <div class="d-block d-sm-none d-md-none d-lg-none d-xl-block col-xl-3 col-xxl-3">
      <div class="same__products">
        <div class="row">
          <div class="col-12">
            <div class="same__name">
              <span>Товары из той же категории</span>
            </div>

          </div>
        </div>


          <div class="same__products__cart">
            @for (item of productsSameCategory; track $index) {
                <div class="row">
                  <a [routerLink]="['/product', item.slug]">
                  <div class="same__product__body">
                    <div class="col-4">
                      <div class="same__product__img">
                        <img [src]="item.img_url" alt="product_phone">
                      </div>
                    </div>
                    <div class="col-8">
                      <p class="same__product__titile">{{item.title}}</p>
                      <span class="same__product__price">{{item.price | productsPriceFormatPipe}} ₽</span>
                    </div>
                  </div>
                  </a>
                </div>
            }
          </div>
      </div>
    </div>
  </div>

</div>



