<div class="container">
  <div class="row">
    <div class="modal__title">
      <p>Войти или зарегистрироваться</p>
      <p class="material-icons modal__close mx-2" (click)="closeModal()">
        close
      </p>
    </div>

    <div class="modal__input">
      <div class="input-container">
        <input #phoneInput class="input__mask" unmask="true">
        <label class="label" for="fphone" id="label-fphone">
          <div class="text">Введите телефон</div>
        </label>
      </div>
    </div>

    <button class="mt-3"
      (click)="getCode()"
      [disabled]="!isGetCodeButtonEnabled"
      [ngClass]="{'modal__code__button__block': !isGetCodeButtonEnabled,
      'modal__code__button': isGetCodeButtonEnabled}"
    >
      Получить код
    </button>

    <span class="modal__info mt-3">Нажимая кнопку "Получить код", Вы соглашаетесь
      c условиями политики конфиденциальности</span>
