* {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}


table, td, tr {
  font-size: 19px;
  font-weight: 400;
}

input {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #76BC21;

}


.input__invalid{
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid red;
}

input:focus {
  border-color: none;
  outline: none;
  color: #333;
}


.material-icons {
font-size: 18px;
font-weight: 600;
cursor: pointer;
}

.user__cange__disabled {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #76BC21;
  border-radius: 5%;
  color: white;
  cursor: block;
  opacity: 60%;
}


.user__cange,
.user__cange__canсel
{
  width: 100px;
  height: 30px;
  border: none;
  background-color: #76BC21;
  border-radius: 5%;
  color: white;
  cursor: pointer;
}

.user__cange:hover,
.user__cange__canсel:hover
{
  opacity: 80%;
}


.change__error {
  color: red;
}

.error__message {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: -18px;
}
