<div class="row mt-2">
  <div class="product__review__head mb-2">
    <h1>Смартфоны и планшеты</h1>
    <div class="product__review__buttons">
      <button (click)="slickModal.slickPrev()">
        <span class="material-icons">
          arrow_back
        </span>
      </button>
      <button (click)="slickModal.slickNext()">
        <span class="material-icons">
          arrow_forward
        </span></button>
    </div>
  </div>


    <ngx-slick-carousel
      class="carousel card product__review"
      #slickModal="slick-carousel"
      [config]="slideConfigPhone"
    >
      <div
        ngxSlickItem
        *ngFor="let phone of phones"
        class="slide card product__review col-2"
        style="width: 10rem;"
      >
        <div
          class="product__review__card"
          [routerLink]="['/product']"
          [queryParams]="{
            category: phone.category,
            id: phone.id
          }"
        >
          <img class="product__review__img" src="{{phone.img_url}}" alt="Product Image">
        </div>


        <div class="product__review__title mt-3">
          <h4 class="product__review__name">{{phone.title}}</h4>
        </div>




        <div class="card__review__body mt-3">

            <div class="area__bottom__price "><span>{{phone.price | productsPriceFormatPipe}} ₽ </span></div>
            <div class="area__bottom__cart">
              <span class="material-icons">
                shopping_cart
              </span>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>


    <div class="product__review__head mb-2 mt-5">
      <h1>Ноутбуки</h1>
      <div class="product__review__buttons">
        <button (click)="slickModal2.slickPrev()">
          <span class="material-icons">
            arrow_back
          </span>
        </button>
        <button (click)="slickModal2.slickNext()">
          <span class="material-icons">
            arrow_forward
          </span></button>
      </div>
    </div>


      <ngx-slick-carousel
        class="carousel card product__review"
        #slickModal2="slick-carousel"
        [config]="slideConfigLaptop"
      >
        <div
          ngxSlickItem
          *ngFor="let laptop of laptops"
          class="slide card product__review "
          style="width: 10rem;"
        >
          <div
            class="product__review__card"
            [routerLink]="['/product']"
            [queryParams]="{
            category: laptop.category,
            id: laptop.id
          }"
          >
            <img class="product__review__img" src="{{laptop.img_url}}" alt="Product Image">
          </div>
          <div class="product__review__title mt-3">
            <h4 class="product__review__name">{{laptop.title}} </h4>

          </div>

          <div class="card__review__body mt-3">

              <div class="area__bottom__price "><span>{{laptop.price | productsPriceFormatPipe}} ₽ </span></div>
              <div class="area__bottom__cart">
                <span class="material-icons">
                  shopping_cart
                </span>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>




</div>
