<div class="container">
  <div class="row">
    <div class="modal__title mt-2">
      <div class="code__input__titile">
        <p class="material-symbols-outlined modal__arrow" (click)="backToCodeItputFalse()">
          arrow_back
          </p>
        <p class="account__title mx-4">Введите SMS код</p>
      </div>
    </div>
    <div class="account__number">
      <p>Ваш номер: {{userNameFromAuth}}</p>
    </div>

    <div class="modal__input">
      <div class="input-container">
        <input
          type="number"
          id="password"
          name="password"
          placeholder="Код из СМС"
          value=""
          aria-labelledby="label-password"
          autocomplete="off"
          pattern="[0-9]*"
          minlength="4"
          maxlength="4"
          autoFocus
          required
          [(ngModel)]="userPassword"
          (ngModelChange)="passwordChange($event)"
          [disabled]="isInputDisabled"
          [ngClass]="{
            'disabled__input': isInputDisabled,
            'password__correct':passwordCorrect
          }"
        >
        <!-- <label class="label" for="fcode" id="label-fcode">
          <div class="text">Код из СМС</div>
        </label> -->
      </div>
    </div>


    @if (!isInputDisabled) {
      <div class="repeat__timer">
        <p class="error__message">{{errorMessage}}</p>
        <p class="time__counter">Отправить повторно через: {{ timeInterval }} сек.</p>

      </div>
    }


    @if (tryAgainButton) {
      <p class="error__message mt-1">Было более 5 попыток. Попробуйте снова</p>
      <button
      class="modal__code__button mt-2"
      (click)="onTryAgainClick()"
      [disabled]="!isInputDisabled"
    >
      Попробуйте снова
    </button>
    }

    @if (timeIsOver) {
      <p class="error__message">Время вышло! Попробуйте снова</p>
      <button
      class="modal__code__button mt-2"
      (click)="onTryAgainClick()"
      [disabled]="!isInputDisabled"
    >
      Попробуйте снова
    </button>
    }

    @if (isAuth) {
      <button class="btn btn-primary button__isAuth mt-3" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    }





  </div>
</div>






