<div class="container">
  <div class="row">
    <div class="modal__title mt-2">
      <div class="code__input__titile">
        <p class="material-symbols-outlined modal__arrow" (click)="backToCodeItputFalse()">
          arrow_back
          </p>
        <p class="account__title mx-4">Введите SMS код</p>
      </div>
    </div>
    <div class="account__number">
      <p>Ваш номер: {{userNameFromAuth}}</p>
    </div>

    <div class="modal__input">
      <!-- your-component.component.html -->
      <!-- <input type="text" appDigitsOnly [(ngModel)]="code" (input)="checkCode($event)"> -->

      <!-- <input type="text" appDigitsOnly [(ngModel)]="password" (keyup)="checkLength()"> -->
      <!-- <input type="text" appDigitsOnly [(ngModel)]="password" (input)="checkLength($event)"> -->



      <div class="input-container">
        <input
          type="number"
          appDigitsOnly
          id="password"
          inputmode="numeric"
          name="password"
          placeholder="Код из СМС"
          value=""
          aria-labelledby="label-password"
          autocomplete="off"
          autoFocus
          required
          [(ngModel)]="userPassword"

          (ngModelChange)="passwordChange($event)"
          [disabled]="isInputDisabled"
          [ngClass]="{
            'disabled__input': isInputDisabled,
            'password__correct':passwordCorrect
          }"
        >

        <!-- (ngModelChange)="passwordChange($event)" -->
        <!-- [disabled]="isInputDisabled" -->
        <!-- (input)="checkLength($event)" -->


      </div>
    </div>

    @if (reSend) {
      <p>{{errorMessage}}</p>
    }

    @if (timeIntervalShow) {
      <p class="time__counter">Отправить повторно через: {{ timeInterval }} сек.</p>
    }


    @if (codeFalse) {
      <p class="error__message">Введен неверный код</p>
    }

    @if (tryAgainButton) {
      <p class="error__message">Было более 5 попыток. Попробуйте снова</p>
      <button
      class="modal__code__button"
      (click)="onTryAgainClick()"
      [disabled]="!isInputDisabled"
    >
      Отправить СМС   </button>
    }

    @if (timeIsOver) {
      <p class="error__message">Время вышло! Попробуйте снова</p>
      <button
      class="modal__code__button mt-2"
      (click)="onTryAgainClick()"
      [disabled]="!isInputDisabled"
    >
      Отправить СМС
    </button>
    }

    @if (isAuth) {
      <button class="btn btn-primary button__isAuth mt-3" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Проверяем данные...
      </button>
    }





  </div>
</div>






