<div class="row">
  <div class="orderCart mt-3">
    <img
      class="orderCartImg"
      src="https://static.insales-cdn.com/images/products/1/3803/414199515/thumb_sm_215_galaxya21s_black_front_raw.jpg" alt="">
    <h3 class="orderCartItems">Микроволновая печь Hyundai HYM-M2039, черный</h3>
    <h1>1 x 4 189 ₽</h1>
  </div>

  <div class="orderCart mt-3">
    <img
      class="orderCartImg"
      src="https://static.insales-cdn.com/images/products/1/3803/414199515/thumb_sm_215_galaxya21s_black_front_raw.jpg" alt="">
    <h3 class="orderCartItems">Микроволновая печь Hyundai HYM-M2039, черный</h3>
    <h1>1 x 4 189 ₽</h1>
  </div>

  <div class="orderCart mt-3">
    <img
      class="orderCartImg"
      src="https://static.insales-cdn.com/images/products/1/3803/414199515/thumb_sm_215_galaxya21s_black_front_raw.jpg" alt="">
    <h3 class="orderCartItems">Микроволновая печь Hyundai HYM-M2039, черный</h3>
    <h1>1 x 4 189 ₽</h1>
  </div>

  <hr class="mt-3">

  <div class="orderlist">
    <h3>Сумма по товарам</h3>
    <h1>101 159 ₽</h1>
  </div>

  <div class="orderlist">
    <h3>Стоимость доставки</h3>
    <h1>0 ₽</h1>
  </div>

  <hr class="mt-2">

  <div class="orderTotal">
    <h3>Итого:</h3>
    <h1>101 159 ₽</h1>
  </div>



</div>
