<div class="row">
  <div class="products__filter">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox" value=""
        id="defaultCheck1"

      >
      <label class="form-check-label" for="defaultCheck1">
        Iphone
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Samsung
      </label>
    </div>
  </div>


</div>



