<h1 class="order__form__title">Оформление заказа</h1>
<p>Контактные данные</p>



<form>
  <div class="form-group">
    <input
      id="phone"
      class="form-control"
      name="phone"
      type="text"
      [formControl]="phoneFormControl"
      mask="+0(000) 000-00-00"
      [showMaskTyped]="true"
    >




    <div *ngIf="phoneFormControl.hasError('pattern') " class="text-danger">
      Введите правильный номер телефона.
    </div>


    <div *ngIf="phoneFormControl.hasError('minlength') && phoneFormControl.touched" class="text-danger">
      <!-- Минимальная длина - 11 символов. Введено: {{ phoneFormControl.value.length }} символов. -->
    </div>

    <div *ngIf="phoneFormControl.hasError('maxlength') && phoneFormControl.touched" class="text-danger">
      Максимальная длина - 11 символов. Введено: {{ phoneFormControl.value.length }} символов.
    </div>


  </div>


</form>






<h2>Доставка</h2>
<h3>Населенный пункт</h3>
<input class="orderTown" type="text">


<div class="orderDelivery mt-4">

  <div class="orderDeliveryItems">
    <input type="radio" id="individual" name="orderDelivery">
    <label for="individual">Самовывоз
    </label>
    <p class="orderDeliveryHelp">На пункте выдачи</p>

    <input type="radio" id="courier" name="orderDelivery">
    <label for="courier">Курьером
    </label>
    <p class="orderDeliveryHelp">Доставка курьером</p>
  </div>

  <div class="orderPrice">
    <h1>+ 0 руб</h1>
    <h2>+ 350 руб</h2>
  </div>
</div>

<h3>Email</h3>
<input class="orderMail" type="text">


<h1 class="mt-2">Способ оплаты</h1>


<input type="radio" id="orderChoiceCash" name="orderPay">
<label for="orderChoice">Наличными
</label>
<p class="orderDeliveryHelp">Наличными</p>

<input type="radio" id="orderChoiceOnline" name="orderPay">
<label for="orderChoices">Оплата на сайте
</label>
<p class="orderDeliveryHelp">Оплата на сайте</p>


<button
  (click)="orderPay()"
  class="orderTotalButton">Подтвердить заказ</button>
