<div class="container">
  <div class="navigate mt-3">
    <a class="navigate__dashboard" routerLink="">Главная &nbsp;</a>/
    <p class="navigate__choice">
      &nbsp; {{categoryName}}
    </p>
  </div>

  <div class="row">

    <div class="col-10">
      <div class="row mt-2">
        <h2 class="catalog__page__heading">{{ categoryName }}</h2>
        <div
          *ngFor="let product of products | searchProductsBrandPipe: selectedBrands"
          class="col-4"
        >
          <div class="catalog">
            <div class="card" style="width: 15rem; height: 25rem;">
              <a class="link" [routerLink]="['/product']" [queryParams]="{id: product.id}">
                <img class="card-img-top" alt="phoneImg" [src]="product.img_url">
                <div class="card__body mt-3">
                  <div class="card__title"> {{product.title}} </div>
                </div>
              </a>



              <div class="card__price__product" *ngIf="!product.productAddedToCart">
                <h1 class="card__price">{{ product.price | productsPriceFormatPipe }} &nbsp; ₽
                </h1>
                <div class="card__price__icon" (click)="postToCart2(product)">

                  <span class="material-icons">
                    shopping_cart
                  </span>
                </div>
              </div>

              <div class="card__price__product" *ngIf="product.productAddedToCart">
                <h1 class="card__price">{{ product.price | productsPriceFormatPipe }} &nbsp; ₽
                </h1>
                <div class="card__added" routerLink="/cart">
                  <span class="material-icons">
                    shopping_cart
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PAGINATOR  -->

      <div class="paginator">
        <mat-paginator [length]="lengthProducts"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
      </mat-paginator>
      </div>





    </div>








    <!-- FILTER  -->

    <div class="col-2 mt-3">
      <div class="row">
        <div class="products__filter">

          <div class="brands__checkbox mt-3">
            <p class="checkbox__title">Бренд:</p>
            <div *ngFor="let brand of uniquePhoneBrands">
              <div class="mt-1">
                <input type="checkbox" [id]="brand.name + 'Checkbox'" [(ngModel)]="selectedBrands[brand.name]"
                  (change)="onChangeBrand($event, brand.name)">
                <label [for]="brand.name + 'Checkbox'">{{ brand.name }}</label>
              </div>
            </div>
          </div>


          <div class="charahteristic__checkbox mt-3">
            <p class="checkbox__title">Цвет:</p>

            <div *ngFor="let product of products">
              <ng-container *ngFor="let char of product.characteristics">
                <ng-container *ngIf="char.name === 'Color'">
                  <div class="mt-1">
                    <input type="checkbox" [id]="char.value + 'Checkbox'" [(ngModel)]="selectedBrands[char.value]"
                           (change)="onChangeColor($event)">
                    <label [for]="char.value + 'Checkbox'">{{ char.value }}</label>
                  </div>
                </ng-container>
              </ng-container>
            </div>

          </div>


          <div class="price__checkbox">
            <p class="checkbox__title">Цена:</p>
            <form class="price__filter">

              <div>
                <input type="text" class="form-control price__control" id="minPrice" placeholder="Мин"
                  [(ngModel)]="minPrice" name="minPrice" (keydown)="onEnter($event)">
              </div>
              <div class="price__symbol mx-2">&mdash;</div>
              <div>
                <input type="text" class="form-control price__control" id="maxPrice" placeholder="Макс"
                  [(ngModel)]="maxPrice" name="maxPrice" (keydown)="onEnter($event)">
              </div>
            </form>
          </div>

          <button type="button" class="mt-3 mb-3 col-2 clear__button " (click)="resetFilters()">
            Сбросить
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
