
<div class="container">
  <div class="navigate mt-3">
    <a class="navigate__dashboard" routerLink="">Главная &nbsp;</a>/
    <p class="navigate__choice">
      &nbsp; {{categoryName}}
    </p>
  </div>

  <div class="row mt-2">
    <h2 class="catalog__page__heading">{{ categoryName }}</h2>
    <div *ngFor="let product of products" class="col-4">
      <div class="catalog">
        <div class="card" style="width: 15rem; height: 25rem;">
          <a
            class="link"
            [routerLink]="['/product']"
            [queryParams]="{id: product.id}"
          >
            <img class="card-img-top" alt="phoneImg" [src]="product.img_url">
            <div class="card__body mt-3">
              <div class="card__title"> {{product.title}} </div>
            </div>
          </a>



          <div class="card__price__product" *ngIf="!product.productAddedToCart">
            <h1 class="card__price">{{ product.price | productsPriceFormatPipe }} &nbsp; ₽
            </h1>
            <div class="card__price__icon"
             (click)="postToCart2(product)"
          >

              <span class="material-icons">
                shopping_cart
              </span>
            </div>
          </div>

          <div class="card__price__product" *ngIf="product.productAddedToCart">
            <h1 class="card__price">{{ product.price  | productsPriceFormatPipe  }} &nbsp; ₽
            </h1>
            <div class="card__added"
              routerLink="/cart"
            >
              <span class="material-icons">
                shopping_cart
              </span>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>

