

<div class="container" >
  <div *ngIf="product">
    <div class="navigate mt-3">
      <a class="navigate__dashboard" routerLink="">Главная &nbsp;</a>/
      <a class="navigate__choice" [routerLink]="['/products', product.category.slug]"
        [queryParams]="{category: product.category.slug}">
        &nbsp; {{categoryName}}
      </a>
    </div>


    <div class="row mt-4" >
      <div class="product__title">
        <span>{{product.title}}</span>
      </div>

      <div class="productArea mt-3">
        <div class="productRatingList">
          <p class="material-icons">
            star
          </p>
          <p class="material-icons">
            star
          </p>
          <p class="material-icons">
            star
          </p>
          <p class="material-icons">
            star
          </p>
          <p class="material-icons">
            star
          </p>
          <p class="productReviewsCount">(0)</p>
        </div>

        <div class="productFavorite">
          <p class="material-icons">
            favorite
          </p>
          <p>В избранное</p>
        </div>
      </div>
      <hr>



      <div class="col-4 mt-4 product_phone_img">
        <img [src]="product.img_url" alt="product_phone">
      </div>



      <div class="col-4 mt-5 option__selector">
        <p class="characteristics__title">Характеристики</p>

        <div
          class="product__characteristics"
          *ngFor="let characteristic of product.characteristics; let i = index"
        >
          <ng-container *ngIf="i < 5">
            <p class="product__characteristics__name">{{ characteristic.name }}: &nbsp;</p>
            <p class="product__characteristics__value">{{ characteristic.value }}</p>
          </ng-container>
        </div>


        <div class="product__properties__control">
          <p class="product__all__characteristics" (click)="scrollTo(tabs)">Все характеристики</p>
        </div>

        <div class="product__properties__description">
          <p class="description__title">Описание</p>
          <p [ngStyle]="{
            'max-height': showFullDescription ?
            'none' : '37px',
            'overflow': 'hidden',
            'opacity': showFullDescription ?
            '1' : '0.6'
          }">
            {{ product.description }}
          </p>

          <!-- Кнопка "Показать полностью" -->
          <p class="dscription__button" (click)="toggleDescription()">
            {{ showFullDescription ? 'Свернуть' : 'Показать полностью' }}
          </p>
        </div>

      </div>

      <div class="col-4 mt-5 product_phone_price">
        <div class="product_price">
          <p class="product_price_cur">{{product.price | productsPriceFormatPipe}} ₽</p>
        </div>
        <ng-container *ngIf="!productAddedToCart">
          <div class="cart__button" (click)="addToCart(selectedProduct)">
            <span class="cart__button__item">В корзину</span>
            <span class="material-symbols-outlined cart__button__icon">
              shopping_cart
            </span>
          </div>
        </ng-container>


        <ng-container *ngIf="productAddedToCart">
          <div class="cart__button_added">
            <div class="counter__delete" (click)="minusQuantity(productInCart)">
              <p class="material-icons">
                remove
              </p>
            </div>
            <div class="cart__counter" *ngIf="productInCart" routerLink="/cart">
              <span class="cart__counter__number">в корзине {{productInCart.quantity}} шт.</span>
              <span class="cart__link">Перейти</span>
            </div>
            <div class="counter__add" (click)="plusQuantity(productInCart)">
              <p class="material-icons">
                add
              </p>
            </div>
          </div>
        </ng-container>
      </div>

    </div>




    <div class="table__component row" #tabs>
      <app-product-tabs [product]="product"></app-product-tabs>



  </div>
</div>
