* {
  font-family: 'Inter', sans-serif;
}
a  {
  text-decoration: none;
}

.container {
  width: 1180px;
  height: auto;
  padding: 0;
}



.navigate {
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #8b96a5;
}

.navigate__link,
.navigate__choice {
  width: auto;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #8b96a5;
  cursor: pointer;
}



.navigate__link:hover {
  color: var(--main-color)
}

.navigate__sl {
  width: auto;
}

.card {
  border: 1px solid #dee2e7;
  border-radius: 6px;
  width: 1180px;
  background-color: #fff;
  padding-bottom: 20px;
}

.product__img {
  width: 380px;
  height: 380px;
  border-radius: 6px;
  fill: #fff;
  border: 1px solid #dee2e7;
  margin-left: 19px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img img {
  width: 345px;
  height: 345px;
  object-fit: contain;
  object-position: center;
}

.card__body {
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-left: 22px;
}

.product__stock {
  display: flex;
  align-items: center;
  color: #00B517;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.product__no__stock {
  display: flex;
  align-items: center;
  color: #fa3434;;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.in__stock {
  margin-right: 2px;
}

.product__title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.raiting {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.raiting__zero {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.emty__star {
  margin-right: -63px;
}

.num {
  color: #ff9017;
  margin-left: 6px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
}


.product_phone_price {
  /* СМЕЩЕНИЕ!!! */
  margin-left: -22px;
  border-radius: 6px;
  fill: #fff;
  border: 1px solid #dee2e7;
  width: 280px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_price_cur {
  font-size: 35px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin-top: 20px;
}

.cart__button {
  margin-top: 10px;
  border-radius: 6px;
  padding: 0px 16px;
  width: 248px;
  height: 40px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  color: white;
  border: none;
}

.favorite__button {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 0px 16px;
  width: 248px;
  height: 40px;
  background: white;
  color: var(--main-color);
  border: 1px solid #dee2e7;
}

.characteristics {
  /* border: 1px solid darkcyan; */
  margin-top: 21px;
  /* margin-left: 22px; */
}

.name {
  width: auto;
}

.characteristics__name {
  font-weight: 400;
  font-size: 16px;
  color: #8b96a5;
  margin-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.characteristics__value {
  font-weight: 400;
  font-size: 16px;
  color: #505050;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.all__characteristics__button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color)
}

.all__characteristics__button:hover {
  opacity: 80%;
}


.recomend__products {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
}



@media(max-width: 1200px) {


  .container {
    max-width: 100%;
    /* overflow-x: hidden;
    scrollbar-width: none !important; */
  }

}



@media(max-width: 576px) {

  .navigate {
    margin-left: 15px;
  }



  .card {
    width: 100%;
    margin: 0;
    padding: 0;

  }

  .product__img {
    max-width: 100%;
    height: auto;
    border-radius: none;
    border: none;
    margin: auto;
  }

  .product__img img {
    width: 360px;
    height: 305px;
    object-fit: contain;
    object-position: center;

  }

 .card__body {
  border: 1px solid darkred;
  margin: 0;
  padding-left: 15px;
 }

 .characteristics {
  margin-right: 10px;
 }


 .characteristics__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #8b96a5;
  margin-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.characteristics__value {
  font-weight: 400;
  font-size: 16px;
  color: #505050;
  line-height: 137%;
  letter-spacing: -0.01em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



}
