.modal__code__button {
  width: 200px;
  height: 60px;
  margin: auto;
  border: none;
  background-color: #76BC21;
  border-radius: 5%;
  color: white;
  cursor: pointer;
}

.modal__code__button:hover {
  opacity: 80%;
}
