* {
  font-family: 'Inter', sans-serif;
}


.container {
  width: 1180px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
  margin-left: -12px;
}

.user__info {
  border-radius: 6px;
  border: 1px solid #dee2e7;
  margin: 0;
  background-color: white;
  /* margin-left: 20px; */
  /* height: 280px; */
  width: 100%;
}

.user__nav {
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background-color: white;
  /* height: 280px; */
  height: auto;
  width: 100%;
}

.info {
  padding: 0;
}

.user__title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  margin-left: 10px;
}


.user__edit {
  color: var(--main-color);
  cursor: pointer;
}

.user__components {
  margin-left: 10px;
}














