
  <div class="container d-none d-xl-block">
    <div class="row">

      <div class="col-xl-3">
        <ng-container *ngIf="settings">
          <div class="footer__logo">
            <img class="footer_img" src="{{settings.logo}}" alt="logos">
          </div>
          <div class="footer__phones mt-3">
            <a class="footer__phone__link" href="tel:{{settings.phone_main}}">
              {{settings.phone_main}}
              <p class="footer__phone__name">справочная служба</p>
            </a>

            <div class="footer__phones mt-4">
              <a class="footer__phone__link" href="tel:{{settings.phone_sec}}">
                {{settings.phone_sec}}
                <p class="footer__phone__name">интернет магазин</p>
              </a>
            </div>
          </div>

        </ng-container>
        <div *ngIf="settings && settings.social">
          <p>Оставайтесь с нами</p>
          <ng-container *ngFor="let socialItem of settings.social">

            <a href="{{socialItem.description}}" target="_blank">
              <img class="footer__social__img" src="{{socialItem.img_url}}" alt="socialItem">
            </a>
          </ng-container>
      </div>


      </div>

      <div class="col-xl-3 mt-3">
        <h2 class="fs-6 fw-bold">О маназине</h2>
        <p class="fs-7">Условия обмена и возврата</p>
        <p class="fs-7">Каталог</p>
        <p class="fs-7">О компании</p>
        <p class="fs-7">Контакты</p>
        <p class="fs-7">Доставка</p>
        <p class="fs-7">Оплата</p>
      </div>
      <div class="col-xl-2 mt-3">
        <h2 class="fs-6 fw-bold">Клиентам</h2>
        <p class="fs-7">Личный кабинет</p>
        <p class="fs-7">Блог</p>
        <p class="fs-7">Обратная связь</p>

      </div>

      <div class="col-xl-4 mt-3">
        <h2 class="fs-6 fw-bold">Информация</h2>
        <p class="fs-7">Пользовательское соглашение</p>
        <p class="fs-7">Политика конфиденциальности и оферта</p>

      </div>



    </div>
  </div>
