<div class="footer__main">
  <div class="container">
    <div class="row mt-5">

      <div class="col-3 mb-5">
        <ng-container *ngIf="settings">
          <div class="footer__logo">
            <img class="footer_img" src="{{settings.logo}}" alt="logos">
          </div>
          <div class="footer__phones mt-3">
            <a class="footer__phone__link" href="tel:{{settings.phone_main}}">
              {{settings.phone_main}}
              <p class="footer__phone__name">справочная служба</p>
            </a>

            <div class="footer__phones mt-4">
              <a class="footer__phone__link" href="tel:{{settings.phone_sec}}">
                {{settings.phone_sec}}
                <p class="footer__phone__name">интернет магазин</p>
              </a>
            </div>
          </div>

        </ng-container>
        <div *ngIf="settings && settings.social">
          <p>Оставайтесь с нами</p>
          <ng-container *ngFor="let socialItem of settings.social">

            <a href="{{socialItem.description}}" target="_blank">
              <img class="footer__social__img" src="{{socialItem.img_url}}" alt="socialItem">
            </a>
          </ng-container>
      </div>


      </div>

      <div class="col-3 mt-3">
        <p class="fs-6 fw-bold">О маназине</p>
        <p class="fs-6">Условия обмена и возврата</p>
        <p class="fs-6">Каталог</p>
        <p class="fs-6">О компании</p>
        <p class="fs-6">Контакты</p>
        <p class="fs-6">Доставка</p>
        <p class="fs-6">Оплата</p>
      </div>
      <div class="col-3 mt-3">
        <p class="fw-bold">Клиентам</p>
        <p class="fs-6">Личный кабинет</p>
        <p class="fs-6">Блог</p>
        <p class="fs-6">Обратная связь</p>

      </div>

      <div class="col-3 mt-3">
        <p class="fs-6 fw-bold">Информация</p>
        <p class="fs-6">Пользовательское соглашение</p>
        <p class="fs-6">Политика конфиденциальности и оферта</p>

      </div>



    </div>
  </div>
</div>
