
* {
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: #fff;
  width: 1180px;
  height: 350px;
  border-radius: 6px;
  /* border: 1px solid #dee2e7; */
  background-color: #fff;
  margin-top: 20px;


}



.footer__logo {
  width: 200px;
  height: 100px;
  /* border: 1px solid red; */
}

.footer_img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: left;
}
.footer__phone__link {
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 520;

}


.footer__phone__name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 320;
  /* border: 1px solid green; */
}

.footer__social {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;

}

.footer__social__item {
  display: flex;
  justify-content: center;
}

.footer__social__img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


p {
  font-size: 15px;
  color: #8b96a5;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}
