<div class="container d-none d-xl-block">
    <p class="brand__title">Популярные бренды</p>
    <div class="brands__block">
      <div *ngFor="let brand of brands | slice:0:7" class="brands__icons">

          <img
          class="brand__img"
          [src]="brand.img_url"
        >
      </div>
    </div>


</div>

































<!-- !!!!!!!!!!!! -->

<!-- <div class="brands__popular ">

    <h1 class="mt-4">Популярные бренды</h1>
    <div class="d-flex">
      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/p60gELpnSV8/rs:fill-down:180:91:1/q:100/plain/files/1/5260/16364684/original/brand_3d858eb037561b3e849b07bc338d6575.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/oKXYzHGvzpk/rs:fill-down:180:91:1/q:100/plain/files/1/5268/16364692/original/brand-1_50eda1305c23323d49396bda513dcc08.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/jDKI8yTLdkg/rs:fill-down:180:91:1/q:100/plain/files/1/5277/16364701/original/brand-2_4f1d0de948129aa00797a08882212bd4.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/9EirLem2bD0/rs:fill-down:180:91:1/q:100/plain/files/1/5278/16364702/original/brand-3_26010e9f8c3f08a89955b64c5400c065.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/PlqTSttdINo/rs:fill-down:180:91:1/q:100/plain/files/1/5224/16364648/original/brand-4_0beccabcee7851f81f7df1b307f35e92.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/8WzfqyC1-3g/rs:fill-down:180:91:1/q:100/plain/files/1/5227/16364651/original/brand-5_975b9557c5bd67d8c7774b0ab74a2394.jpg"
          alt="">
      </div>
    </div>


    <div class="mt-4 d-flex">

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/B7ts65Dm71Q/rs:fill-down:180:91:1/q:100/plain/files/1/5281/16364705/original/brand-9_54f86f9f258f0be13b19abf489824ad5.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/YdIk48GEwHs/rs:fill-down:180:91:1/q:100/plain/files/1/5280/16364704/original/brand-8_17b1f102428feab1f946212169172c77.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/QLMP0M4ZZk8/rs:fill-down:180:91:1/q:100/plain/files/1/5283/16364707/original/brand-11_6f52cb093a53472786bf16811493c539.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/skUval3viZc/rs:fill-down:180:91:1/q:100/plain/files/1/5282/16364706/original/brand-10_8fefa28a6f4c9127229e6a06b2bf5433.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/yME4wMMDLo8/rs:fill-down:180:91:1/q:100/plain/files/1/5228/16364652/original/brand-6_db8310dec94bcfb7ca3d2cc7c064d725.jpg"
          alt="">
      </div>

      <div class="col-2">
        <img class="img-fluid img-thumbnail"
          src="https://static.insales-cdn.com/r/1VA5QT5TKRI/rs:fill-down:180:91:1/q:100/plain/files/1/5279/16364703/original/brand-7_c400be1465a15d6ab611c64e62313b57.jpg"
          alt="">
      </div>
    </div>
  </div> -->
