* {
  font-family: 'Inter', sans-serif;
}




.container {
  background-color: #fff;
  width: 1180px;
  height: 200px;
  background-color: transparent;
  padding: 0;
  margin-top: 10px;
}




.brand__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1c1c1c;

}




.brands__block  {
  width: 100%;
  display: flex;
}

.brands__icons {
  margin-right: 10px;
  border-radius: 6px;

}

.brand__img  {
  width: 160px;
  height: auto;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}






