.container-fluid {
  background-color: #f8f9fa;
  padding: 0;
  /* width: 100%;
  overflow: hidden; */
}

.app__section__main {
  padding-top: 20px;
}

.app__section__recom__random__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1c1c1c;
  margin: 0;
}

.container {
  width: 1180px;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 20px;

}

.app__section__recom__laptop,
.app__section__recom__phone,
.app__section__recom__random {
  width: 100%;
}


.app__section__recom__laptop::-webkit-scrollbar,
.app__section__recom__random::-webkit-scrollbar,
.app__section__recom__phone::-webkit-scrollbar {
  display: none;
}




@media (max-width: 1200px) {

  .container {
    width: 100%;
    padding: 0;
    margin-left: 12px;
    margin-bottom: 24px;

  }
  .container-fluid {
    background-color: white;
    padding: 0;
  }

  .app__section__main {
    padding-top: 0px;
  }


  .app__section__recom__phone {
    overflow-x: scroll !important;
    scrollbar-width: none !important;
  }

  .app__section__recom__laptop {
    max-width: 100%;
    overflow-x: auto !important;
    scrollbar-width: none !important;
  }

  .app__section__recom__random {
    overflow-x: scroll !important;
    scrollbar-width: none !important;

  }

  .app__section__recom__random__rec {
    overflow-x: scroll !important;
    scrollbar-width: none !important;

  }





}

@media (min-width: 881px) {
  .app__section__recom__random__title__laptop,
  .app__section__recom__random__title__phone {
    display: none;
  }
}

@media (max-width: 880px)  {
  .container {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    max-width: 100%;
  }

  .app__section__recom__random__title,
  .app__section__recom__random__title__laptop,
  .app__section__recom__random__title__phone {
    font-size: 18px;
    font-weight: 600;
    color: #1c1c1c;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
