<div class="container-fluid">
  <div class="app__section__main">
    <app-section-main></app-section-main>
  </div>
  <div class="app__section__recom__phone">
    <app-recomendation-phone-page></app-recomendation-phone-page>
  </div>
  <div class="app__section__recom__laptop">
    <app-recomendation-laptop-page></app-recomendation-laptop-page>
  </div>
  <div class="container">
    <p class="app__section__recom__random__title">Рекомендации</p>
  </div>
  <div class="app__section__recom__random">
    <app-recomendation-random-mobile-page></app-recomendation-random-mobile-page>

  </div>

  <app-brands></app-brands>






<app-footer></app-footer>
</div>


