  <div class="container">
    <div class="row">
      <div class="footer__down__elements" *ngIf="settings">
        <!-- <div class="footer__down__copyright col-5"> <p> {{settings.copyright}}</p></div> -->
        <div class="footer__down__makers col-xl-4"><p>© 2024 AA store</p></div>

        <!-- <div class="footer__payment col-3" *ngFor="let pay of settings.pay_system">
          <div class="footer__payment__img">
            <img class="footer__payment__img" src="{{ pay.img_url }}" alt="payment">
          </div>
        </div> -->
    </div>
  </div>



