<div class="container mt-5">
  <div class="row">

    <div class="header">
      <div class="row">
      <div class="col-2 header__logo">
        <img src="https://bootstrap-ecommerce-web.netlify.app/images/logo.svg" alt="42332">
    </div>

    <div class="col-7">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Например MacBook Pro M1" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button type="button" class="btn btn-primary">Найти</button>
      </div>
    </div>

    <div class="col-1 header__icons">
      <span class="material-icons" style="font-size: 40px;">
        person
        </span>

    </div>

        <div class="col-1 header__icons">

        <span class="material-icons" style="font-size: 40px;">
          favorite
          </span>
        </div>
        <div class="col-1 header__icons">
          <span class="material-icons" style="font-size: 40px;">
            shopping_cart
            </span>
          </div>

    </div>


  </div>
    </div>

  </div>

